.date_news .mounth {
    text-transform: lowercase;
}
.flc li.dostavka {
    margin-top: 0!important;
}
.wTxt h1, .wTxt h2, .wTxt h3, .wTxt h4, .wTxt h5, .wTxt h6 {
    padding-top: 0.2em;
}
.breadcrumbs {
    margin-bottom: 20px;
}
.dateNews {
    color: #aaa;
    display: block;
    font-size: 13px;
    margin: -5px 0 5px;
}

.red_link {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    background: #000;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    height: 25px;
    padding: 0 30px;
    border: none;
    outline: none;
    text-transform: uppercase;
    position: relative;
}
.red_link {
    font: 15px/25px 'helveticaneuecyr-light';
}
.red_link:hover {
    color: #fff;
}
.red_link:after {
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    height: 25px;
    content: "";
    background: rgba(255,255,255,0.3);
    -webkit-transition: top 0.3s ease;
    transition: top 0.3s ease;
}
.red_link:hover:after {
    top: 0;
}
.red_link:active {
  background: #666;
}

.lk_menu {
    padding: 20px;
    display: inline-block;
    width: 15%;
    border-right: 1px solid #ccc;
}
.lk_menu .menuElement {
    display: block;
}
.lk_menu .menuElement a {
    font-size: 16px;
    line-height: 28px;
    position: relative;
}
.lk_menu .menuElement.current a {
    color: #d70017;
}
.lk_menu .menuElement a:after {
    border-bottom: 1px solid #d70017;
    bottom: 0;
    box-sizing: border-box;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transform: scale(0, 1);
    transition: transform 0.3s ease 0s;
    width: 100%;
}
.lk_menu .menuElement a:hover:after {
    transform: scale(1, 1);
}
.lk_content {
    padding: 20px;
    display: inline-block;
    width: 70%;
    vertical-align: top;
    margin-left: 5%;
}
.lk_content .lkMainContent {
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
    line-height: 28px;
}
.lk_content .lkMainContent .myInformation {
    display: block;
    width: 100%;
}
.lk_content .lkMainContent .myInformation .infoTitle {
    display: inline-block;
    width: 20%;
}
.lk_content .lkMainContent .myInformation .infoValue {
    display: inline-block;
    width: 40%;
    color: #000;
    font-style: italic;
}
.lk_content .lkMainContent .myInformation .infoValue a {
    font-style: italic;
}

.lk_content .lkMainContent .lkLinks {
    display: block;
    margin-top: 30px;
}
.lk_content .lkMainContent .lkLinks .lkLink {
    display: block;
}
.lk_content .lkMainContent .lkLinks .lkLink a {
    text-decoration: underline;
}
.lkForm {
    float: none;
    margin-top: 20px;
}

.novelty .flr ul li .img_tovar .splash3 {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 18px;
    width: 60px;
    background: orange;
    text-align: center;
    -webkit-transform: skewX(-6deg);
    -ms-transform: skewX(-6deg);
    transform: skewX(-6deg);
}
.novelty .flr ul li .img_tovar .splash3 span {
    font: 10px/18px Arial, Helvetica, sans-serif;
    display: block;
    text-transform: uppercase;
    color: #fff;
    -webkit-transform: skewX(6deg);
    -ms-transform: skewX(6deg);
    transform: skewX(6deg);
}
.folt_cat_block .flr ul li .img_tovar .splash3, .big_prevue .splash3 {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 18px;
    padding: 0 10px;
    background: orange;
    text-align: center;
    -webkit-transform: skewX(-6deg);
    -ms-transform: skewX(-6deg);
    transform: skewX(-6deg);
}
.folt_cat_block .flr ul li .img_tovar .splash3 span, .big_prevue .splash3 span {
    font: 10px/18px Arial, Helvetica, sans-serif;
    display: block;
    text-transform: uppercase;
    color: #fff;
    -webkit-transform: skewX(6deg);
    -ms-transform: skewX(6deg);
    transform: skewX(6deg);
}

.big_prevue .splash2 {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 18px;
    width: 60px;
    background: #ff6600;
    text-align: center;
    -webkit-transform: skewX(-6deg);
    -ms-transform: skewX(-6deg);
    transform: skewX(-6deg);
}

.big_prevue .splash2 span {
    font: 10px/18px Arial, Helvetica, sans-serif;
    display: block;
    text-transform: uppercase;
    color: #fff;
    -webkit-transform: skewX(6deg);
    -ms-transform: skewX(6deg);
    transform: skewX(6deg);
}


.novelty .flr ul li .img_tovar .splash, .novelty .flr ul li .img_tovar .splash2, .novelty .flr ul li .img_tovar .splash3,
.folt_cat_block .flr ul li .img_tovar .splash,.folt_cat_block .flr ul li .img_tovar .splash2, .folt_cat_block .flr ul li .img_tovar .splash3 {
    width: auto;
    padding: 0 5px;
}
.wBasket.wBasketModule.main_b {
    width: 50%;
    max-width: 50%!important;
}
.wBasketWrapp {
    width: 100%;
}
.emptyCartBlock {
    font-size: 24px;
    margin-top: 60px;
}
.onlyOneOrder tr, .onlyOneOrder th, .onlyOneOrder td {
    vertical-align: middle!important;
}
.userOrderInfoBlock {
    display: block;
    margin: 10px 0;
}
.userOrderTitle {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    vertical-align: top;
    font-style: italic;
}
.userOrderValue {
    display: inline-block;
    width: 760px;
    color: #777;
}
a.userOrderPrint {
    position: absolute;
    top: 0;
    right: 0;
}
table.myStyles a {
    font-style: italic;
}
.old_price2 {
    text-decoration: line-through;
    color: #000;
    font: 14px/30px "helveticaneuecyr-light";
}
.color_c li input + ins div {box-sizing: border-box; border: 1px solid #a7b1ba;}
ul > li > ul {
    padding-left: 20px;
}
.faq_block a {
    display: inline;
}