@media only screen and (max-width:1350px) {

	.novelty .flr ul li:nth-child(5) {
		display: none;
	}

	.novelty .flr ul li {
		width: 25%;
	}

	.novelty .flr, .folt_cat_block .flr {
		width: 77%;
	}

	.under_text p {
        font: 12px/18px Arial, Helvetica, sans-serif;
    }

    .under_text p + p {
        font: 20px/28px 'helveticaneuecyr-light';
        max-height: 54px;
    }

}

@media only screen and (max-width:1280px) {

	.novelty .flr ul li:nth-child(5) {
		display: none;
	}

	.novelty .flr ul li, .folt_cat_block .flr ul li {
        width: 25%;
    }

    .folt_cat_block.no_filt .flr ul li {
        width: 20%;
    }

    .cat_ul li {
		width: 24% !important;
	}

	.novelty .flr, .folt_cat_block .flr {
		width: 75%;
	}

	.under_text p {
        font: 12px/16px Arial, Helvetica, sans-serif;
    }

    .under_text p + p {
        font: 20px/25px 'helveticaneuecyr-light';
        max-height: 50px;
    }

}

@media only screen and (max-width:1170px) {
    


}

@media only screen and (max-width:1100px) {

    .basket_page_main .wBasketFooter .wb_footer_go {
        float: right;
    }

}

@media only screen and (max-width:1085px) {

    .stat_slider .stat_block .opus_block {
        margin-left: 2%;
        float: none;
        max-width: 100%;
    }

    .stat_slider .stat_block .stat_img {
        display: block;
        line-height: 0;
        float: none;
        width: 100%;
        margin-bottom: 5px;
    }

    .opus_block p {
        font: 12px/14px Arial, Helvetica, sans-serif;
        max-height: 42px;
        overflow: hidden;
        color: #656565;
    }

	.novelty .flr, .folt_cat_block .flr {
		width: 74%;
	}

	.novelty .flr ul li:nth-child(4) {
		display: none;
	}

    .novelty .flr ul li, .folt_cat_block .flr ul li {
        width: 33%;
    }

    .folt_cat_block.no_filt .flr ul li {
        width: 25%;
    }

	.cat_ul li {
		width: 32% !important;
	}

    .foot_bot .flc {
        margin-left: 23%;
    }

}
@media only screen and (max-width:1024px) {


	.under_slider li .under_text {
		max-width: 240px;
	}

    .under_text p + p {
        font: 16px/22px 'helveticaneuecyr-light';
    }



}
@media only screen and (max-width:980px) {

    .under_text p + p {
        font: 14px/20px 'helveticaneuecyr-light';
        max-height: 60px;
    }

}
@media only screen and (max-width:720px) {}
@media only screen and (max-width:600px) {}
@media only screen and (max-width:540px) {}
@media only screen and (max-width:480px) {}
@media only screen and (max-width:320px) {}

/*----------------------------------------------*/

/* bMyAdaptive */
@media (max-width:615px) {
	
.slidert {
	max-height: 203px;
}
.slidert #slidet > div .title {
	font-size: 18px;
}
.wHeader .logo {
	float: none;
	width: 100%;
	text-align: center;
}
.wFooter .search {
	float: left;
}
.wFooter .logb {
	text-align: right;
}
.videoBlock .videos .col:nth-child(2n+1) {
	clear: both;
}
.s4n div img {
	float: left;
	margin: 3px 10px 0 0;
}
.s4n div a {
	display: block;
}
.smal-news:nth-child(2n) {
	margin-left: 0;
}
.wFooter p.sert {
	font-size: 9px;
}
.wFooter p.belt {
	font-size: 9px;
}
.car-wrap-t {
	max-height: 66vw;
}
.s4n .col:nth-child(2n+1) {
	clear: both;
}
.cit-block {
	margin-top: 0px;
}
.photo-alb-page .soc-groups-new {
	position: static;
}
.st-control-b {
	display: none;
}
#next-sl, #prev-sl {
	top: 35%;
}
.photo-alb-page .soc-groups-new:hover .soc-gr-in {
	left: 0;
}
.photo-alb-page {
	position: relative;
}




}

@media (min-width: 616px) and (max-width:955px) {

.videoBlock .videos .col:nth-child(2n+1) {
	clear: both;
}
.slidert {
	max-height: 222px;
}
.slidert #slidet > div .title {
	font-size: 18px;
}
.row_news .col:nth-child(2n+1) {
	clear: both;
}
.wHeader .logo {
	float: none;
	width: 100%;
	text-align: center;
}
.s4n .col:nth-child(2n+1) {
	clear: both;
}
.smal-news:nth-child(2n) {
	margin-left: 0;
}
.car-wrap-t {
	max-height: 230px;
}
.sl-thumb-cool {
	left: 358px;
    top: -83px;
}



}
/* End bMyAdaptive */