@font-face {
  font-family: 'Pragmatica';
  src: url("../fonts/PragmaticaLight_36332.eot");
  src: url("../fonts/PragmaticaLight_36332.eot") format("embedded-opentype"), 
	  url("../fonts/PragmaticaLight_36332.woff") format("woff"), 
	  url("../fonts/PragmaticaLight_36332.woff2") format("woff2"),
	  url("../fonts/PragmaticaLight_36332.ttf") format("truetype"), 
	  url("../fonts/PragmaticaLight_36332.svg#Pragmatica") format("svg");
  font-weight: 200;
}
@font-face {
  font-family: 'Pragmatica';
  src: url("../fonts/pragmaticac-bold.eot");
  src: url("../fonts/pragmaticac-bold.eot") format("embedded-opentype"), 
      url("../fonts/pragmaticac-bold.woff") format("woff"), 
	  url("../fonts/pragmaticac-bold.woff2") format("woff2"),
      url("../fonts/pragmaticac-bold.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: 'Pragmatica';
  src: url("../fonts/pragmaticamedium.eot");
  src: url("../fonts/pragmaticamedium.eot") format("embedded-opentype"), 
	  url("../fonts/pragmaticamedium.woff") format("woff"), 
	  url("../fonts/pragmaticamedium.woff2") format("woff2"),
	  url("../fonts/pragmaticamedium.ttf") format("truetype"), 
	  url("../fonts/pragmaticamedium.svg#Pragmatica") format("svg");
  font-weight: 400;
}

/*-------------------------------  reset  ------------------------------------*/
* {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed,
fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output,
p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, blockquote, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
audio, canvas, video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid silver;
}
legend {
  white-space: normal;
}
embed, img, object {
  max-width: 100%;
}
b, dt, strong {
  font-weight: 700;
}
dfn, em, i {
  font-style: italic;
}
blockquote, q {
  quotes: none;
  font-style: italic;
}
blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}
a, a:active, a:focus, a:hover, a:link, a:visited {
  outline: 0;
}
hr {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  margin: 20px 0 30px;
  padding: 0;
  border: none;
  background: #555;
}
mark {
  color: #000;
  background: #ff0;
}
pre {
  margin: 1em 0;
  padding: 15px;
  border: 1px solid #555;
  border-radius: 5px;
  white-space: pre;
  white-space: pre-wrap;
  background: #efefef;
  word-wrap: break-word;
}
code, kbd, pre, samp {
  font-family: 'courier new',monospace,serif;
  font-size: 1em;
}
small {
  font-size: 80%;
}
big {
  font-size: 125%;
}
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
  left: -0.3em;
}
sub {
  bottom: -.25em;
  left: -0.3em;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
ins, u {
  text-decoration: underline;
}
del, s {
  text-decoration: line-through;
}
dl, menu {
  margin: 1em 0 1em 1em;
  list-style: none;
}
dd + dt {
  margin-top: 1em;
}
dd {
  margin: 0 0 0 40px;
}
nav ol, nav ul, ol, ul {
  list-style: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
td, td img {
  vertical-align: top;
}
::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #2597ff;
}
::-ms-selection {
  text-shadow: none;
  color: #fff;
  background: #2597ff;
}
[hidden] {
  display: none;
}
button, input, select, textarea {
  margin: 0;
  font-family: sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  outline: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
::-webkit-input-placeholder {
  color: #ccc;
}
::-webkit-textarea-placeholder {
  color: #ccc;
}
input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
textarea::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #ccc;
}
textarea:-ms-input-placeholder {
  color: #ccc;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled], html input[disabled] {
  cursor: not-allowed;
}
input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input:required {
  box-shadow: none;
}
input:invalid {
  box-shadow: none;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  display: block;
  font-family: sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="tel"],
input[type="email"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  background: #ffface !important;
}
input[type="text"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input[type="text"]:focus::-moz-placeholder,
input[type="tel"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder,
input[type="password"]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}
input[type="text"]:focus::-ms-placeholder, input[type="tel"]:focus::-ms-placeholder, input[type="email"]:focus::-ms-placeholder, textarea:focus::-ms-placeholder, input[type="password"]:focus::-moz-placeholder {
  color: transparent;
}
body {
  position: relative;
  font: 14px/1.6em Arial;
  color: #555;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: underline;
  color: #678bd8;
}
a:hover {
  text-decoration: underline;
  color: #d70017;
}
/*-------------------------------  Custom Fonts  ------------------------------------*/
/*-------------------------------  conteiner  ------------------------------------*/
.wWrapper {
	position: relative;
    overflow: hidden; 
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    height: auto;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0;
}
.wSize {
  /*width: 939px;*/
  margin: 0 auto;
  position: relative;
}
.wConteiner {
  padding: 60px 0 16px 0;
  position: relative;
}
/*-------------------------------  breadcrumbs  ------------------------------------*/
.breadcrumbs {
  font-size: 0;
  line-height: 0;
}
.breadcrumbs span {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font: 14px/14px Arial, Helvetica, sans-serif;
}
.breadcrumbs span + span {
  padding-left: 20px;
}
.breadcrumbs span + span:before {
  content: '/';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  text-align: center;
}
.breadcrumbs a {
  text-decoration: underline;
}
/*-------------------------------  wHeader  ------------------------------------*/
.wHeader {
  position: relative;
}
/*-------------------------------  wConteiner  ------------------------------------*/
/*-------------------------------  wLeft  ------------------------------------*/
.wLeft {
  float: left;
  width: 25%;
  margin-right: 2%;
}
/*-------------------------------  wRight  ------------------------------------*/
.wRight {
  /*float: right;
  width: 262px;
  margin-left: 20px;
  margin-bottom: 20px;*/
  overflow: hidden;
}
/*-------------------------------  wMiddle  ------------------------------------*/
.wMiddle {
  float: left;
  width: 655px;
  overflow: hidden;
  margin-bottom: 20px;
}
/*-------------------------------  wFooter  ------------------------------------*/
.wFooter {
	position: relative;
    overflow: hidden; 
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
	background: #323333;
	padding: 30px 0 15px 0;
}
.wFooter .counters {
  padding: 0.7em 1em 0;
}
/*-------------------------------  validation ------------------------------------*/
.error {
  border-color: #f00 !important;
}
label.error {
  font-size: 13px !important;
  line-height: 13px;
  cursor: default;
  color: #AAAAAA !important;
}
/*-------------------------------  sys style  ------------------------------------*/
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.cls {
  font-size: 0;
  display: table;
  width: 100%;
}
.clear {
  clear: both;
}
.clearFix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.wSize:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.wTxt {
  position: relative;
}
h1, h2, h3, h4, h5, h6, .h1T, .h2T, .h3T, .h4T, .h5T, .h6T {
  font: 40px/1.2em Arial, Helvetica, sans-serif;
}
.wTxt h1, .wTxt h2, .wTxt h3, .wTxt h4, .wTxt h5, .wTxt h6 {
  margin: 0.5em 0;
}
.wTxt h2, .h2T {
  font-size: 34px;
  line-height: 1.2em;
}
.wTxt h3, .h3T {
  font-size: 30px;
  line-height: 1.2em;
}
.wTxt h4, .h4T {
  font-size: 26px;
  line-height: 1.2em;
}
.wTxt h5, .h5T {
  font-size: 22px;
  line-height: 1.2em;
}
.wTxt h6, .h6T {
  font-size: 18px;
  line-height: 1.2em;
}
.h1T *, .h2T *, .h3T *, .h4T *, .h5T *, .h6T * {
  line-height: 1em !important;
}
.wTxt h1 a, .wTxt h2 a, .wTxt h3 a, .wTxt h4 a, .wTxt h5 a, .wTxt h6 a,
.h1T a, .h2T a, .h3T a, .h4T a, .h5T a, .h6T a {
  text-decoration: none !important;
}
.wTxt blockquote {
  padding: 5px 20px;
  margin: 5px 0;
  font-style: italic;
  border: 10px solid transparent;
  border-left-color: #ccc;
}
.wTxt p {
  margin: 1em 0;
}
.wTxt ul, .wTxt ol {
  margin: 1em 0 1em 1em;
}
.wTxt li {
  list-style-type: disc;
  list-style-position: inside;
}
.wTxt ol li {
  list-style-type: decimal;
  list-style-position: inside;
}
.wTxt table th {
  font-weight: bold;
  background: #eee;
}
.wTxt table thead th {
  vertical-align: bottom;
}
.wTxt table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  width: 100%;
  margin: 10px 0 20px;
}
.wTxt table th, .wTxt table td {
  padding: 10px;
  line-height: 1em;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
}
.wTxt table.table-null, .wTxt table.table-null th, .wTxt table.table-null td {
  border-color: transparent;
}
.wTxt table.table-zebra, .wTxt table.table-zebra th, .wTxt table.table-zebra td {
  border-color: transparent;
}
.wTxt table.table-zebra tr:nth-child(even) {
  background: #ddd;
}

/* some */
.banners-line {
  text-align: center;
}
.wHeader {
  height: 50px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  border-top: 1px solid #000;
  background-color: #6d6d6d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6D6D6D', endColorstr='#FF010101');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkNmQ2ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAxMDEwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6d6d6d), color-stop(100%, #010101));
  background-image: -moz-linear-gradient(top, #6d6d6d 0%, #010101 100%);
  background-image: -webkit-linear-gradient(top, #6d6d6d 0%, #010101 100%);
  background-image: linear-gradient(to bottom, #6d6d6d 0%, #010101 100%);
}
.wHeader .logo {
  margin-top: 5px;
  float: left;
  margin-right: 25px;
}
.wHeader ul {
  display: table;
  width: 69%;
  height: 23px;
  margin-top: 10px;
  text-align: center;
}
.wHeader ul > li {
  line-height: 23px;
  padding-right: 10px;
  padding-left: 10px;
  display: table-cell;
  vertical-align: top;
  box-shadow: inset -1px 0 1px -1px #040405;
  border-right: 1px solid #6b6b6c;
}
.wHeader ul > li:last-child {
  border: none;
  box-shadow: none;
}
.wHeader ul > li > a {
  color: #e7e7e7;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.wHeader ul > li > a:hover {
  text-decoration: underline;
}
.search {
  position: relative;
}
.search input[type=text] {
  height: 26px;
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
  background: #3a3a3a !important;
  border-radius: 3px;
  border: none;
  color: #9a9a9b;
  border-bottom: 1px solid #5f5f5f;
  padding-left: 10px;
}
.search input[type=text]:-moz-placeholder {
  color: #9a9a9b;
}
.search input[type=text]::-moz-placeholder {
  color: #9a9a9b;
}
.search input[type=text]:-ms-input-placeholder {
  color: #9a9a9b;
}
.search input[type=text]::-webkit-input-placeholder {
  color: #9a9a9b;
}
.search input[type=submit] {
  position: absolute;
  right: 5px;
  background: url(../pic/search.png) 0 0 no-repeat;
  border: none;
  width: 12px;
  height: 12px;
  top: 7px;
  text-indent: -9999px;
}
.search input[type=submit]:hover {
  opacity: 0.8;
}
hr.bl {
  background: #0c0c0c;
  height: 3px;
  margin: 16px 0;
}
hr.ser {
  height: 1px;
  margin: 5px 0 20px 0;
  background: #e4e4e4;
}
.wConteiner a.tit, .wConteiner p.tit{
  font-family: 'Pragmatica';
  font-weight: 200;
  color: #b21f25;
  font-size: 18px;
  text-decoration: none;
}
.wConteiner a.tit span, .wConteiner p.tit span {
  font-size: 12px;
  color: #757574;
}
.tab > div:not(.chob) {
  display: none;
}
.tab > div:not(.chob) .img {
  width: 62px;
  overflow: hidden;
  float: left;
  margin-right: 8px;
}
.tab > div:not(.chob) .img img {
  width: 62px;
}
.tab > div:not(.chob) .tit {
  font-size: 14px;
  color: #0c0c0c;
  text-transform: uppercase;
  line-height: 115%;
  margin-bottom: 10px;
  font-family: 'Pragmatica';
  font-weight: 400;
}
.tab > div:not(.chob) .tit a {
  text-decoration: none;
  color: #0c0c0c;
}
.tab > div:not(.chob) .tit a:hover {
  text-decoration: none;
  color: #b21f25;
}
.tab > div:not(.chob) .txt {
  font-family: Arial;
  color: #757574;
  font-size: 14px;
  line-height: 125%;
}
.tab > div:not(.chob) .bb {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.tab > div:not(.chob) .bb:last-child {
  border-bottom: none;
}
.tab .chob a {
  font-size: 18px;
  color: #0c0c0c;
  font-family: 'Pragmatica';
  font-weight: 200;
  text-decoration: underline;
  line-height: 125%;
  display: inline-block;
}
.tab .chob a:hover {
  text-decoration: none;
}
.tab .chob .active {
  color: #b21f25;
  text-decoration: none;
}
.cit {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAASCAYAAAC5DOVpAAAAoElEQVQ4je2SSw3AIBBEkYCD9tJ7JSABCXWCFDzUABIqAQlI6CeBZJnA0HPTw1zYl7ewi9qnRd05Owm5XmII69Qv+6DMiBxEpoFtymSCAHyjLiNlWwtIshsRrSAzCMzYjcg2YOchQGRecPE5QyCS4bMXOJR5AExHpGHjKZ+pMsgAot4WLdy+mmvplF6IWp+2WhBC7CuUuNzcYg1nMRJR9gIYZe3L+fmerAAAAABJRU5ErkJggg==) 0 3px no-repeat;
  padding-left: 35px;
  font-family: Arial;
  font-size: 16px;
  color: #757574;
  line-height: 125%;
  margin-bottom: 10px;
  overflow: hidden;
}
.autor .img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 35px;
  border: 1px solid #b5272d;
  float: left;
  margin-right: 15px;
}
.autor .img img {
  width: 72px;
  max-width: none;
}
.autor .name {
  font-size: 14px;
  color: #0c0c0c;
  padding-top: 14px;
  margin-bottom: 3px;
}
.autor .pos {
  color: #0c0c0c;
  font-size: 10px;
  line-height: 125%;
}
.cif {
  font-family: 'Pragmatica';
  font-size: 82px;
  color: #b21f25;
  text-align: center;
  font-weight: 900;
  line-height: 100%;
  margin: 20px 0;
}
.cifop {
  font-family: 'Pragmatica';
  font-weight: 400;
  font-size: 18px;
  color: #0c0c0c;
  text-align: center;
  padding: 0 30px;
}
.podp {
  font-size: 11px;
  color: #7d7d7d;
  line-height: 25px;
  display: block;
}
.podp:hover span {
  text-decoration: underline;
  color: #7d7d7d;
}
.podp img {
  display: block;
  float: left;
  margin-right: 10px;
}
.podp span {
  display: inline-block;
  line-height: 25px;
}
.rekl {
  margin: 10px 0;
}
.slidert {
  position: relative;
  max-height: 360px;
  overflow: hidden;
  transition: background 0.3s;
  background: url(../pic/preloader.gif) black 50% 50% no-repeat;
}
.slidert #slidet {
  opacity: 0;
  transition: opacity 0.5s;
  height: 100% !important;
}
.slidert #slidet > div {
  float: left;
  /*width: 701px;*/
  margin: 0 auto;
}
.slidert #slidet > div img {
	width: 100%;
}
.slidert #slidet > div .title {
  font-size: 23px;
  color: #040405;
  font-family: 'Pragmatica';
  font-weight: 900;
  text-decoration: none;
  margin-bottom: 5px;
  display: inline-block;
}
.slidert #slidet > div .title:hover {
  text-decoration: none;
  color: #b21f25;
}
.slidert #slidet > div .text {
  font-family: Arial;
  font-size: 18px;
  color: #757574;
  margin-bottom: 10px;
}
.slidert #prev, .slidert #next {
  position: absolute;
  top: 50%;
  width: 35px;
  height: 50px;
  background: rgba(0, 0, 0, 0.72);
  /*margin-top: 25px;*/
  transition: all 0.5s;
}
.slidert #prev {
  left: 1px;
  background: url(../pic/strelka.png) 10px 10px no-repeat rgba(0, 0, 0, 0.72);
}
.slidert #prev:hover {
  background-position: 5px 10px;
}
.slidert #next {
  right: 1px;
  background: url(../pic/strelkar.png) 10px 10px no-repeat rgba(0, 0, 0, 0.72);
}
.slidert #next:hover {
  background-position: 15px 10px;
}
.main_page .seeall {
  display: inline-block;
  text-align: right;
  font-size: 11px;
  color: #000000;
  float: right;
}
.main_page .seeall:hover {
  text-decoration: none;
}
.ludi {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.ludi:last-child {
  border-bottom: none;
}
.ludi .img {
  width: 100%;
  line-height: 1;
  text-align: center;
}
.ludi .img img {
  width: 282px;
}
.ludi p {
  font-size: 14px;
  color: #757574;
  font-family: Arial;
  line-height: 140%;
  max-height: 95px;
  overflow: hidden;
}
.ludi > a {
  color: #0c0c0c;
  font-size: 18px;
  font-family: 'Pragmatica';
  font-weight: 400;
  text-decoration: none;
}
.ludi > a:hover {
  color: #b21f25;
}
.ludi > p > a{
  text-decoration: none;
  color: #757574;
}
.date {
  color: #757574;
  font-size: 12px;
  font-family: Arial;
  margin-bottom: 5px;
  text-decoration: none;
}
.date span {
  color: #b21f25;
}
.s-news {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 16px;
  margin-bottom: 16px;
  overflow: hidden;
}
.s-news:last-child {
  border-bottom: none;
}
.s-news > a:not(.date) {
  color: #0c0c0c;
  font-size: 18px;
  font-family: 'Pragmatica';
  font-weight: 400;
  text-decoration: none;
  line-height: 125%;
  margin-bottom: 10px;
  display: inline-block;
}
.s-news > a:not(.date):hover {
  color: #b21f25;
}
.s-news .img {
  width: 160px;
  float: left;
  line-height: 1;
  margin-right: 10px;
  margin-top: 3px;
}
.s-news .img img {
	width: 100%;
}
.s-news p:not(.date) {
  font-size: 14px;
  color: #757574;
  font-family: Arial;
  line-height: 125%;
}
.s-news p:not(.date) a{
  font-size: 14px;
  color: #757574;
  font-family: Arial;
  line-height: 125%;
  text-decoration: none;
}
.big-news {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 10px;
  margin-bottom: 10px;
  max-width: 403px;
  margin: 0 auto;
  position: relative;
}
.big-news:last-child {
  border-bottom: none;
}
.big-news .rel {
  position: relative;
}
.big-news .rel:after {
  content: "";
  position: absolute;
  bottom: -23px;
  height: 23px;
  width: 100%;
  left: 0;
  background: url(../pic/ten_06.png) 0 0 no-repeat;
}
.big-news .img {
  width: 403px;
  height: 268px;
}
.big-news .img img {
  width: 100%;
}
.big-news .bottom {
  height: 82px;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  box-sizing: border-box;
  padding: 7px 7px 15px 7px;
  display: table;
}
.big-news .bottom > div {
  display: table-cell;
  vertical-align: top;
}
.big-news .bottom > div:first-child {
  border-right: 1px solid #54595d;
  padding-right: 10px;
  width: 81px;
}
.big-news .bottom > div:first-child a:hover {
  opacity: 0.8;
}
.big-news .bottom > div:last-child {
  padding-left: 10px;
}
.big-news .bottom > div:last-child a {
  display: inline-block;
  line-height: 125%;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-family: 'Pragmatica';
  font-weight: 400;
  max-height: 60px;
  overflow: hidden;
}
.big-news .bottom > div:last-child a:hover {
  color: #b21f25;
}
.big-news .bottom > div:last-child .kolf {
  font-size: 12px;
  font-family: Arial;
  color: #fff;
  margin-bottom: 5px;
  line-height: 125%;
}
.big-news .bottom > div:last-child .kolf span {
  color: #b21f25;
}
.vb .titv {
  font-family: 'Pragmatica';
  font-weight: 400;
  font-size: 18px;
  color: #0c0c0c;
  line-height: 125%;
  margin-bottom: 10px;
}
.vb .video {
  margin: 0 auto;
  position: relative;
  height: 0;
  padding-bottom: 48%;
}
.vb .video iframe {
	position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wFooter {
  display: table;
  height: 150px;
  box-sizing: border-box;
  padding: 30px 0 15px 0;
}
.wFooter .copyright {
  font-size: 10px;
  color: #fff;
  font-family: 'Arial';
  line-height: 125%;
  text-align: right;
  margin-top: 5px;
  float: right;
}
.wFooter .soc a {
  display: block;
  float: left;
  margin-right: 8px;
}
.wFooter .soc a:hover {
  opacity: 0.8;
}
.wFooter p.sert {
  color: #8e8e8f;
  font-family: 'Arial';
  font-size: 10px;
  line-height: 125%;
  margin-bottom: 3px;
}
.wFooter p.belt {
  font-size: 10px;
  color: #fff;
  font-family: 'Arial';
  line-height: 125%;
}
.wFooter .logb {
	float: right;
}
.bottoms {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  max-width: 250px;
  float: right;
}
.bottoms div input[type=text] {
  border-bottom: 1px solid #757676 !important;
  border-top: 1px solid #090909 !important;
  background: #4e4e4e !important;
}
.small-vid {
  text-align: center;
}
.small-vid .bgred {
  background: url(../pic/play.png) rgba(178, 31, 37, 0.63) 50% 50% no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.small-vid .vidka {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  overflow: hidden;
}
.small-vid .vidka img {
  height: 100%;
  width: 100%;
}
.small-vid p {
  font-family: Arial;
  color: #0c0c0c;
  font-size: 14px;
  line-height: 125%;
  margin-top: 10px;
  text-align: left;
}
.nazvn {
  font-size: 24px;
  color: #040405;
  font-family: 'Pragmatica';
  font-weight: 900;
  line-height: 125%;
}
.imgn {
  margin: 5px 0 0px 0;
  line-height: 1;
}
.imgn img {
	width: 100%;
}
.nt {
  font-family: Arial;
  font-size: 14px;
  color: #757574;
}
.bolder {
  font-weight: 400 !important;
}
.soci {
  line-height: 36px;
}
.soci .fll p {
  float: left;
  margin-right: 10px;
}
.soci .fll a {
  display: block;
  float: left;
  margin-right: 5px;
}
.soci .flr p {
  float: left;
  margin-right: 10px;
}
.soci .flr .pluso {
  margin-right: 15px;
  float: left;
}
.soci .flr .pluso a:hover {
  background-image: url(http://share.pluso.ru/img/pluso-like/round/medium/04.png);
}
.sprite {
  background: url("../pic/sprite.png") no-repeat top left;
  width: 35px;
  height: 35px;
  display: block;
}
.sprite.facebook {
  background-position: 0 0;
  width: 36px;
}
.sprite.facebook:hover {
  background-position: -41px 0;
}
.sprite.vks {
  background-position: -82px 0;
}
.sprite.vks:hover {
  background-position: -122px 0;
}
.sprite.youtu {
  background-position: -162px 0;
}
.sprite.youtu:hover {
  background-position: -202px 0;
}
.s4n {
  margin-top: 10px;
  margin-bottom: 10px;
}
.s4n div img {
  width: 100%;
}
.s4n div a {
  text-decoration: none;
  font-size: 14px;
  color: #040405;
  font-family: 'Pragmatica';
  font-weight: 400;
  display: inline-block;
  line-height: 125%;
}
.s4n div a:hover {
  text-decoration: underline;
}
.s4n a img {
	width: 100%;
}
.kolcomm {
  font-size: 12px;
  color: #757574;
  font-family: Arial;
  float: right;
  line-height: 26px;
}
.kolcomm span {
  color: #b21f25;
}
.paginWrapp {
  margin: 15px 0;
  padding-top: 15px;
  font-size: 0;
  line-height: 0;
  cursor: default;
}
.paginWrapp > * {
  display: inline-block;
  vertical-align: top;
  font: italic 16px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none !important;
  padding: 4px;
  border-radius: 3px;
  text-align: center;
  margin: 0 1px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.no-touch .paginWrapp a:hover, .paginWrapp .curr {
  background: #eee;
  color: #b21f25;
}
.paginWrapp a {
  border: 1px solid #ccc;
  min-width: 32px;
  color: #000;
}
.level2 {
  padding-left: 35px;
  box-sizing: border-box;
}
.comment {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: table;
  width: 100%;
}
.comment .avatar {
  width: 74px;
  height: 74px;
  overflow: hidden;
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
}
.comment .avatar img {
  width: 74px;
}
.comment .statusu {
  font-family: Arial;
  display: table-cell;
  vertical-align: top;
}
.comment .statusu .scom {
  font-family: Arial;
  font-size: 14px;
  color: #757574;
  line-height: 125%;
}
.comment .statusu .username, .comment .statusus .username {
  color: #b21f25;
  font-size: 14px;
  font-family: 'Pragmatica';
  font-weight: 400;
  margin-right: 10px;
  float: left;
  line-height: 15px;
}
.comment .statusu .date, .comment .statusus .date {
  font-size: 12px;
  color: #1d2120;
  line-height: 18px;
}
.comment .statusu div, .comment .statusus div {
  display: block;
}
.comment .statusu label.error, .comment .statusus label.error {
  font-size: 13px !important;
  line-height: 13px;
  cursor: default;
  color: #AAAAAA !important;
}
.comment .statusu textarea,
.comment .statusus textarea {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  height: 52px;
  resize: none;
  font-size: 14px;
  font-family: Arial;
}

.comment .statusu input,
.comment .statusus input {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  padding: 3px;
  width: 200px;
  margin-bottom: 8px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial;
}

.comment .statusu textarea:-moz-placeholder {
  color: #757574;
}
.comment .statusu textarea::-moz-placeholder {
  color: #757574;
}
.comment .statusu textarea:-ms-input-placeholder {
  color: #757574;
}
.comment .statusu textarea::-webkit-input-placeholder {
  color: #757574;
}
.comment .statusus textarea:-moz-placeholder {
  color: #757574;
}
.comment .statusus textarea::-moz-placeholder {
  color: #757574;
}
.comment .statusus textarea:-ms-input-placeholder {
  color: #757574;
}
.comment .statusus textarea::-webkit-input-placeholder {
  color: #757574;
}
.displit {
  text-align: center;
  font-family: Plumb;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.displit p {
  margin-right: 5px;
  font-size: 16px;
  color: #8e8f91;
  display: inline-block;
}
.displit a {
  text-decoration: none;
  color: #008d51;
  font-size: 16px;
  margin-right: 10px;
}
.displit a:not(.cur):hover {
  text-decoration: underline;
}
.displit .cur {
  color: #000;
  text-decoration: none;
}
.albbl {
  font-size: 0;
  text-align: center;
}
.albbl .fv {
  display: inline-block;
  width: 188px;
  margin: 0 25px 25px 0;
  text-align: left;
}
.albbl .fv:hover .img .blackbg {
  display: block;
}
.albbl .fv .tit {
  display: block;
  color: #000;
  font-family: 'Pragmatica';
  font-size: 14px;
  margin-bottom: 5px;
}
.albbl .fv .img {
  height: 150px;
  width: 170px;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 0 3px 0 #ccc;
  position: relative;
}
.albbl .fv .img .blackbg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.albbl .fv .img img {
  width: 200px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.albbl .fv p {
  display: block;
  text-align: center;
}
.albbl .fv p a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding: 10px 20px;
  line-height: 100%;
  background: #3A3A3A;
  border-radius: 2px;
  margin-top: 20px;
}
.albbl .fv p a:hover {
  background: #5E5F65;
}
.albbl .ph .blackbg {
  background: url(../pic/photocam.png) rgba(0, 0, 0, 0.5) 50% 50% no-repeat;
}
.albbl .vi .blackbg {
  background: url(../pic/play.png) rgba(0, 0, 0, 0.5) 50% 50% no-repeat;
}
.comment .statusu .enterReg2, .comment .statusu .enterComment {
  margin-top: 8px;
}
/*-------------------------------  enterPopup  ------------------------------------*/
.enterReg, .enterReg2, .enterComment {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding: 10px 20px;
  line-height: 100%;
  background: #3A3A3A;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  border:none;
}
.enterReg:hover, .enterReg2:hover, .enterComment:hover {
  background: #5E5F65;
  color: #fff;
}
.enterRegPopup {
  position: relative;
  width: auto;
  margin: 20px auto;
  padding: 1.5% 2%;
  max-width: 700px;
  background: #fff;
}
.enterReg_top {
  position: relative;
  margin-bottom: 3%;
  overflow: hidden;
}
.enterReg_top:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #ddd;
}
.enterBlock, .regBlock {
  z-index: 9;
  float: left;
  position: relative;
  width: 46%;
  -webkit-backface-visibility: hidden;
}
.regBlock {
  float: right;
}
.enterReg_top .erTitle {
  position: relative;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #000;
}
.enterBlock_form {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}
.enterBlock .visForm {
  opacity: 1;
  visibility: visible;
  position: relative;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
.wFormRow {
  position: relative;
  margin-bottom: 8%;
}
.wFormRow input {
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border: 1px solid #ddcbd6;
  font-size: 14px;
  color: #000;
  background: #fff;
  -webkit-backface-visibility: hidden;
}
.wFormRow input:focus {
  border-color: #000;
}
.wFormRow input:focus::-webkit-input-placeholder {
  color: transparent;
}
.wFormRow input:focus::-moz-placeholder {
  color: transparent;
}
.wFormRow input:focus::-ms-placeholder {
  color: transparent;
}
.wFormRow .inpInfo {
  z-index: 2;
  position: absolute;
  top: 0;
  height: 0;
  overflow: hidden;
  right: 0;
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 12px;
  color: #fff;
  background: #000;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.wFormRow input:focus ~ .inpInfo {
  height: 12px;
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
.checkBlock {
  display: inline-block;
  position: relative;
  margin-bottom: 7%;
  vertical-align: top;
  cursor: pointer;
  min-height: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.checkBlock input {
  height: 1px;
  width: 1px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkBlock ins {
  float: left;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  border: 1px solid #ddcbd6;
  background: #fff;
}
input.error ~ ins {
  border-color: #f00;
}
.checkBlock span {
  display: block;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #a0a0a0;
}
.checkBlock input:checked ~ ins {
  background: #000;
  box-shadow: inset 0 0 0 3px #fff;
}
.checkBlock:hover p {
  color: #333;
}
.enterReg_ctrl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.enterReg_btn {
  display: inline-block;
  vertical-align: top;
  background: #000;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  height: 36px;
  padding: 0 30px;
  border: none;
  outline: none;
  text-transform: uppercase;
}
.enterReg_btn:hover {
  background: #666;
}
.enterReg_btn:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: inset 0 -2px 4px #fff, inset 0 3px 6px rgba(0, 0, 0, 0.8);
  background: #666;
}
.passLink {
  position: absolute;
  left: 0;
  bottom: 7px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}
.passLink:hover {
  text-decoration: underline;
}
.forgetInf {
  font-size: 14px;
  line-height: 1.5em;
  color: #999;
  min-height: 116px;
}
.socEnter {
  padding: 3% 0 0;
  border-top: 1px solid #ddd;
  text-align: center;
}
.socEnter .erTitle {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}
.socLinkEnter {
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
}
.socLinkEnter button {
  display: inline-block;
  vertical-align: top;
  border: none;
  width: 80px;
  height: 30px;
  margin-left: 10px;
  background-color: #000;
}
.socLinkEnter button:hover {
  background-color: #666;
}
.socLinkEnter button:active {
  background-color: #666;
  box-shadow: inset 0 -1px 3px rgba(255, 255, 255, 0.8), inset 0 3px 6px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  transform: translateY(1px);
}
.eVk {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAALCAYAAAByF90EAAABa0lEQVQ4y5VSuU7DQBBdUVAgpUCIGvEhCBD8BRF/gCgoEX9AFyhSIkpER41yGBkfEJICBeJ1YrDIgeNcxE4IzrCTYGsdU8BIq7Hf83tzrElWpedpiUp4bh8qexs7CYInJZXcwXAEGN2eCzwHMF7KqvoF015OjkLPyHO5AX447iemBfy42XJWxuOAgoxCBd8oLWt3wAV9sYCIucohD2IFX/DRHwY4E4vTbmC+1x/wEtZteZ9s7Z6S2ns3AFsdB1MMRR02EtfRFWIsZ2YKA+KTyjf3lWOeZNXNbVZg9OVxRppQKJrrPNZs9zEtB0ab8RNCDSvU7pNeD73bTGRPhaGR/DUQ/0EpGHF+uX+JQrG6FjGa3Iakmf8xqltdaNjt1YgR4+YetdqvItxHRqbXnhdu26y1MS2GjH7MYmzMiBG7gBLygqolZ7mUpHkRo+nyE0TMGwdMDK/VFrzVOyDm9COfF1Q9iWPhb4OcnDfgG1JjZ+6XlDL9AAAAAElFTkSuQmCC) center center no-repeat;
}
.eFb {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAXCAYAAAA/ZK6/AAAAvUlEQVQ4y2NwiJ7MgIwdYyYzHD9/v/LgqTufrt5+/v/mvZf/z119/P/gyduvjl98WIymeArDgZO3/+MCQIP+o2gACpT+xwMwNACtfYOu6P3Hb2BnXbj25D/QmedRNIDcigxAitwSpqGoQeFcuvEMRcOh03e3oQcKIQ0bMDR8+PBF9uDJO09A+O2Hrygart958R8mB8JAIX6GyzeeWv8nErx6912RDhpI9vSohpGoAZiEX4CyIwwfPXe/C10DAOix0CKv56WjAAAAAElFTkSuQmCC) center center no-repeat;
}
.eOd {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAATCAYAAABGKffQAAAByElEQVQ4y4WSyy8DQRzHJ+LkPxAnNxEnh14aidKrq4t63MXJUcRBXBx1ESdBHJs04iBxsX2E7vblUW2zz5ZtWc0qKtS2HTNbM7aNxy+ZmWTm83t95weGJ7wAL90o97KcWCgZFWjW6jBfMGCAlw4hhB2EsbbLjOZ8fnmDP1lGvsdHlwWPTq2DnGbQx+pHDWp3ZdhoNOgdGxFVC+aS6gy5xKlfns0e/BC/zo+9V00aAFknCEalfQKHeGmb1IdXgBNp9ItMcQiE4/IaTceJCTucEooUlotGPxBVfYDUZ5o1rIAfl8ZGBJ2ABf0JujxfaqAGbuEfdpqQF6l07ukNcHImvLZDuDF7HwCLfilpTve013me1VwBXjxiOSmNG9/zRx2e+R1HWrlzuDwMoBoL6gMMxxRmZfOYmVv2Md7dAIPUOCo9VkjzKUC0/M/4ixwEaPNIudKvEBYqFJWhUiz1WYVjWfjUzfiDUWkBY1c3MKvqgy2DhGGkq9wetV5vINnUBQo3QVG1p802J+3bIaYsWTCS6qCtvq2RSQacRATT7oAHC7CcUCYgnhOS0nKwfVQ4rqyC90q1m+VF/iypzNqHiDgEeWkHfZDPjeb+E4VugWfRpPpQAAAAAElFTkSuQmCC) center center no-repeat;
}
.eMr {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAQAAADIQr64AAABzElEQVQ4EQXBS2gOAAAH8P/Htu+xr8WBj8mjkJhxlORx8AiFyUFclCKHKSQl4UCjSTkoSpQU5SzFQTSKODgsLI9YIvKc8W2mn98vKqqqKkaLRpPN1aZNm0kaRUFRWUlJKarGaBYNFjvpqT8GDRjwWLelGkRRs7JyNKuImvOGwV+D6oBhF7SKJmXlqIi5ekGfQ1ZZYIktzvoEXpgnisoRMz3DiG4VUdNumoiavb6gzyxRiIproFPMdtVX/HHXOjHOIUM4rySxGpwRa9XBa9/xQ59X5tkCVkicQ68xZurHTUtMNN9Jv8BO8QDdEs9xSlxEj1YREbtBlziB+6rx0T9bjfMOu0RERM1DdIld6FeLD+pWm2EIa0RERJPLOCG2GjZkTnz2V4epfmKjiIgY6za6xD58MCVe4qC4hUsaRURsBsfEKTzUEpdxXywHR7UoKOvwBmwSj3HB6OgAh8Ue8MR1dzCsjk471LFBosUN/LNZrPcM8NZ2x/FbHVdVJaLdOww6oigW6rTJeDFBD3hkskhELPMePHLAYlNMt80V67Xa74BJosmoKIiY7jrgl34fjeCeiogoaVaOKCiIRouc9tQ333w1oMdKEQ2KSkpK/wHc9mRWfKCvrwAAAABJRU5ErkJggg==) center center no-repeat;
}
@media only screen and (max-width: 720px) {
  .popupContent {
    display: block;
    overflow: hidden;
    margin: 0;
    max-height: 0;
    padding: 0 10px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .enterRegPopup {
    max-width: 380px;
    padding: 30px 15px 15px;
  }
  .enterRegPopup .mfp-close {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .enterReg_top {
    margin: 0;
  }
  .enterReg_top:after {
    display: none;
  }
  .socEnter {
    padding: 0;
    border: 0;
  }
  .enterBlock, .regBlock {
    float: none;
    width: auto;
  }
  .enterReg_top .erTitle, .socEnter .erTitle {
    margin: 0;
    text-align: center;
    background: #000;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 1px;
    cursor: pointer;
  }
  .wCur .popupContent {
    max-height: 400px;
    padding: 10px;
  }
  .wCur .erTitle {
    box-shadow: inset 0 0 0 1px #000;
    background: #fff;
    color: #000;
  }
  .socLinkEnter button {
    width: 48%;
    float: left;
    margin: 1%;
    height: 40px;
  }
}
.moinast {
  font-size: 14px;
  color: #0c0c0c;
  font-family: 'Pragmatica';
  font-weight: 200;
  text-decoration: underline;
  line-height: 125%;
  display: inline-block;
  margin-top: 10px;
}
.moinast + br + .enterReg2, .moinast + br + .enterComment {
  margin-top: 5px;
}
.inps {
  padding-left: 3px;
}
.inps input[type=text], .inps input[type=tel], .inps input[type=email], .inps input[type=password] {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  padding-left: 5px;
  width: 100%;
  box-sizing: border-box;
  height: 32px;
  resize: none;
  font-size: 14px;
  font-family: Arial;
}
.inps textarea {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  padding: 5px;
  width: 500px;
  box-sizing: border-box;
  height: 52px;
  resize: none;
  font-size: 14px;
  font-family: Arial;
}
.inps a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding: 10px 20px;
  line-height: 100%;
  display: inline-block;
  background: #3A3A3A;
  border-radius: 2px;
  margin-top: 20px;
}
.inps a:hover {
  background: #5E5F65;
}
.inps label {
  display: block;
  font-size: 14px;
  font-family: Arial;
  color: #757574;
  margin-bottom: 5px;
  margin-top: 5px;
}
.popupContent {
  padding-right: 3px;
  padding-left: 3px;
}
.smal-news {
  padding-bottom: 10px;
  margin-bottom: 10px;
  max-width: 315px;
  position: relative;
  display: inline-block;
}
.smal-news:nth-child(2n) {
  margin-left: 16px;
}
.smal-news:last-child {
  border-bottom: none;
}
.smal-news .rel {
  position: relative;
}
.smal-news .rel:after {
  content: "";
  position: absolute;
  bottom: -23px;
  height: 23px;
  width: 100%;
  left: 0;
  background: url(../pic/ten_06.png) 0 0 no-repeat;
  background-size: contain;
}
.smal-news .img {
  width: 100%;
  height: 209px;
}
.smal-news .img img {
  height: 209px;
}
.smal-news .bottom {
  height: 82px;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  display: table;
}
.smal-news .bottom > div {
  display: table-cell;
  vertical-align: middle;
}
.smal-news .bottom > div:first-child {
  border-right: 1px solid #54595d;
  padding-right: 5px;
  width: 71px;
}
.smal-news .bottom > div:first-child a:hover {
  opacity: 0.8;
}
.smal-news .bottom > div:last-child {
  padding-left: 10px;
}
.smal-news .bottom > div:last-child a {
  display: inline-block;
  line-height: 125%;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-family: 'Pragmatica';
  font-weight: 400;
  max-height: 60px;
  overflow: hidden;
}
.smal-news .bottom > div:last-child a:hover {
  color: #b21f25;
}
.smal-news .bottom > div:last-child .kolf {
  font-size: 12px;
  font-family: Arial;
  color: #fff;
  margin-bottom: 5px;
  line-height: 105%;
}
.smal-news .bottom > div:last-child .kolf span {
  color: #b21f25;
}
.vsmal-news {
  padding-bottom: 10px;
  margin-bottom: 10px;
  max-width: 204px;
  float: left;
  position: relative;
  margin-right: 17px;
}
.vsmal-news:nth-child(3n) {
  margin-right: 0;
}
.vsmal-news .rel {
  position: relative;
}
.vsmal-news .rel:hover .blackbg {
  display: block;
}
.vsmal-news .rel .blackbg {
  display: none;
  background: url(../pic/photocam.png) rgba(0, 0, 0, 0.8) 50% 50% no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vsmal-news .rel:after {
  content: "";
  position: absolute;
  bottom: -23px;
  height: 23px;
  width: 100%;
  left: 0;
  background: url(../pic/ten_06.png) 0 0 no-repeat;
  background-size: contain;
}
.vsmal-news .img {
  width: 100%;
  height: 136px;
}
.vsmal-news .img img {
  height: 136px;
}

/*-----------------------------------------  404  -----------------------------------------*/


    .page_404 {
        padding-top: 300px;
        text-align: center;
        width: 980px;
        margin: 0 auto;
    }

    .page_404 p {
        font: 300px/300px 'helveticaneuecyr-bold';
        color: #000;
        margin-bottom: 30px;
    }

    .page_404 p + p {
        font: 20px/22px 'helveticaneuecyr-light';
        color: #000;
    }

    .page_404 a {
        font: 19px/22px 'helveticaneuecyr-light';
        color: #000;
        text-decoration: underline;
    }

    .page_404 > a {
        /*display: none;*/
    }

    .page_404 a:hover {
        color: #000;
        text-decoration: none;
    }

    .mailto{
      color: #fff;
      line-height: 36px;
      font-family: 'Pragmatica';
    }

    .mailto:hover{
      color: #fff;
      text-decoration: none;
    }

    /*  */

.carbb{
  position: relative;
}

.overflh{
  height: 220px;
  overflow: hidden;
}

.preload2{
  transition: background 0.3s;
  background: url(../pic/preloader.gif) black 50% 50% no-repeat;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carouselBlock {
  margin-bottom: 25px;
}

.carouselBlockIn {
  margin-bottom: 5px;
}

.carouselBlockIn li {
  float: left;
  display: block;
  text-align: center; 
  line-height: 0;
  margin: 0 3px;
}

.carouselBlockIn li img {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #e7e7e7;
}

.carouselBlockBot {
  position: relative;
  height: 32px;
  text-align: right;
  font-size: 0;
  display: none;
  width: 100%;
  margin-top: 10px;
}
.carouselBlockBot:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background: #d0e0e2;
}
.carouselBlockBot a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: 1px solid #ccc;
  height: 30px;
  width: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  background-color: #fff;
}

.prevC {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAYCAYAAADOMhxqAAAAlElEQVQ4jZWTyw2AIBBE90wnWhRYkS0oRXiyDu3Es0KymxDcH4e54LzkDUFYjxOMxJIXk63yVPJg+S4JWjmUXFiu0FzPNWBrVBY6d3m331zeGsB6awDrLQGiNweo3j1geveA6d0DuQGiBxhWAizR6MsaTUmN2u4BAIsEJQ8w/DTMPdJtiHu0O2f3aMDwL8rusYDfng9raYWXoRadpAAAAABJRU5ErkJggg==);}
.prevC:hover {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAYCAQAAABkO9ThAAAAeklEQVQoU3XRwQ3CMBBFwT2nE1JUQmckRYVOfB4OYPDaWD7FI70vOSG6s4Gzv74peFry9eJCsYoMD3AXGT7199efeoamnqGpt5DqP+jqFYZ6haFe4QTbCNNUWBVc/XgIOzhGCAfYR5g+ybDUVPNSC2kpw/TXNks9fJdewHhmqL7sHpsAAAAASUVORK5CYII=);}
.nextC {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAYCAYAAADOMhxqAAAAlUlEQVQ4y62UwQ2AIAxFe3YTHQqcyBWUITw5B27iWSGpSQ2lH6OH76lP3y9EmtYtpJwcl0JW8qNLiQwcKQMCiIcOhiK/xARyvFBbWgDiwRvyLQDso33W7FPbRrWPtXO1jwWofQicbNEHAUWfFsAJIKDhXijtSOl16VmojGitD290cIX3r5dP9a4BVW8NML0//wSgt8wFa2mFl3rKwxAAAAAASUVORK5CYII=);}
.nextC:hover {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAYCAQAAABkO9ThAAAAe0lEQVQoU3XSwQ2DMAxAUZ/ZpAwF3awwFN2E8+sBWmKnyKfkK/9LVsIKJpEnDDbsxgrCaMdmqCDMYOlBWMDcg650PS6lxppLLUilDJpSBk2pgl+pBxNY6/XDjndV3cZf4CkyOO3H6Y89g9slNvYWJPsFiv0Lbj9DZz/mA8B4ZqhVQGLmAAAAAElFTkSuQmCC);}

.carouselBlockBot a:hover{
  background-color: #000;
}




 .flyout > ul {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2),0 10px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2),0 10px 10px rgba(0,0,0,0.1);
    box-shadow: 0 3px 3px rgba(0,0,0,0.2),0 10px 10px rgba(0,0,0,0.1);
background: rgb(1,1,1);
background: -moz-linear-gradient(top,  rgba(1,1,1,1) 46%, rgba(108,108,108,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,rgba(1,1,1,1)), color-stop(100%,rgba(108,108,108,1)));
background: -webkit-linear-gradient(top,  rgba(1,1,1,1) 46%,rgba(108,108,108,1) 100%);
background: -o-linear-gradient(top,  rgba(1,1,1,1) 46%,rgba(108,108,108,1) 100%);
background: -ms-linear-gradient(top,  rgba(1,1,1,1) 46%,rgba(108,108,108,1) 100%);
background: linear-gradient(to bottom,  rgba(1,1,1,1) 46%,rgba(108,108,108,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010101', endColorstr='#6c6c6c',GradientType=0 );

    min-height: 240px;
    width: 950px;
    position: absolute;
    left: 0;
    padding: 20px;
    z-index: 5000000;
    top:38px;
    display: none;
}

/* .flyout-content li{
  border: none !important;
  box-shadow: none !important;
} */

.flyout-content .photo-b{
  width: 60%;
  margin-right: 3%;
  float: left;
  font-size: 0;
  line-height: 0;
}

.flyout-content .spb{
  width: 35%;
  float: right;
}

.flyout-content .photo{
  display: inline-block;
  vertical-align: top;
  width: 48.5%;
  margin-right: 3%;
  text-align: left;
}
.flyout-content .img{
  border:3px solid #999;
  line-height: 0;
  margin-bottom: 5px;
  box-sizing:border-box;
  height: 160px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.flyout-content .img:hover{
  opacity: 0.9;
  border:3px solid #232323;
}
.flyout-content .photo:last-child{
  margin-right: 0;
}

.flyout-content .titka {
  color: #e7e7e7;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  line-height: 125%;
  max-height: 54px;
  overflow: hidden;
}

.flyout-content .titka:hover{
  color: #fff;
}

.flyout-content .spisok{
  text-align: left;
  margin-bottom: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.flyout-content .spisok .titka-s {
  color: #e7e7e7;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  line-height: 125%;
  max-height: 34px;
  overflow: hidden;
}

.flyout-content .spisok .titka-s:hover{
  color: #fff;
}
.flyout-content .seemore{
  text-align: right;
}
.flyout-content .seemore a{
  color: #e7e7e7;
  font-size: 11px;
  text-decoration: none;
  display: inline-block;
  line-height: 125%;
  text-transform: uppercase;
  font-family: 'Pragmatica';
  text-align: right;
  font-weight: 200;
}

.flyout-content .seemore a:hover{
  color: #fff;
}

.vc_b{
  color: #000;
  border-top: 1px solid #e4e4e4;
  padding-top: 5px;
  margin-top: 10px;
}

.vc_b .views{
  margin-right: 20px;
  min-height: 15px;
  line-height: 15px;
  float: left;
  padding-left: 30px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAMCAQAAAAnxz5OAAAA0ElEQVQoU23PPyvFYRjG8Y/BC7CYTCYDqaOUxcY7sHgDShalLGfwZzjKYjqJshIxWUgdiySDwWaxWAyndFImPQbO7T4/rmd57u/36vlDzqi6K68+tbWsm/BvRpwqf9a5WrW4EnLbIIatBdnIxd3AddAHFoIedYv7gZ4w4MXej7kLc9Z7YtHAgeLNvEksJ3fMYRo3/c43WEruAunnjxjyrGgbx3WYVve1J4EWwRiYC3opZSvwqn56Lm+qZCpd14ndrZlq8TvTdtx7V3x40DSb5RczLISJ+OvbrwAAAABJRU5ErkJggg==) 0 50% no-repeat;
}

.vc_b .comments{
  min-height: 15px;
  line-height: 15px;
  float: left;
  padding-left: 25px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAQAAACsTTynAAAA+ElEQVQoFQXBPyhEARwA4G8yGW6S4VIm6jIopSQXRnUGlE24SUryBqOR4Uk2QsngT8gV0VFcBrmB3nKLwcRokO2Gn+8DYFrFg2cvau6dKAIAUPQts2ZEp3Zdxmz6lOkAgLIwBwCAVOgH6NU0BAAASPxoAe6kAAAAuJUCNT2AZSWtNrBkElB2AdQUAPsW5TxiVwKYdwFUrQMAAODIqWEY0NQHAABYUjErJLAsjAMAYFXdhExoAKPCNshpkzdoxbErCzIhfAAc2cKOL3Wvzlzac+BPCCEFSsKTN9cKmPKhKYQQwjHAuEOJbgAzbrxr+BUOAAAAAMirOod/0C9R1LQcxJwAAAAASUVORK5CYII=) 0 50% no-repeat;
}

.vc_b .comments a{
  color: #000;
}

.widg_tabs_wrap {
    margin: 30px 0 0;
}

.w_tabs {
    margin: 10px 0 0;
}

.w_tab {
    display: none;
	text-align: center;;
}

.w_tab > div {
	display: inline-block;
}

.w_tab img {
    max-width: 100%;
}

.widg_tabs_wrap .title {
  position: relative;
  font: 16px/27px 'Pragmatica';
  height: 27px;
  color: #405b93;
  text-transform: uppercase;
  border-bottom: 3px solid #000;
  overflow: hidden;
}

.s_link.active {
  background: #000;
  color: #fff;
}

.s_link {
  display: block;
  width: 33%;
  float: left;
  text-decoration: none;
  font: 12px 'Pragmatica';
  color: #000;
  text-transform: uppercase;
  height: 30px;
  /*padding: 0 18px; 3/02/2016 растянуть кнопки соцсетей на всю ширину блока*/
  background: #f2f2f2;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 27px;
}

.row_news{
  width: 100%;
  margin-top: 35px;
  font-size: 0;
  line-height: 0;
}

.row_news + .clear + .row_news{
  margin-top: 15px;
  margin-bottom: 20px;
}

.row_news > div{
  display: inline-block;
  width: 24%;
  padding-right: 1%;
  vertical-align: top;
}

.row_news .t_rt{
  font-family: 'Pragmatica';
  font-weight: 400;
  color: #b21f25;
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 125%;
}

.row_news .snm li{
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e4e4e4;
}

.row_news .snm li:last-child{
  border-bottom: none;
}

.row_news .preview_img img{
  margin-bottom: 8px;
  width: 200px;
}

.row_news .snm li a{
  text-decoration: none;
  display: block;
  text-align: center;
}

.row_news .snm li a:hover span{
  color: #b21f25;
}

.row_news .snm li span{
  color: #0c0c0c;
  font-size: 15px;
  font-family: 'Pragmatica';
  font-weight: 400;
  display: block;
  text-align: left;
  vertical-align: top;
  line-height: 125%;
  max-height: 54px;
  overflow: hidden;
}

.row_news .seemore a {
  color: #000;
  font-size: 10px;
  text-decoration: none;
  display: inline-block;
  line-height: 125%;
  text-transform: uppercase;
  font-family: 'Pragmatica';
  text-align: right;
  font-weight: 400;
}

.row_news .seemore a:hover{
  color: #b21f25;
}

/*----------------------------------- 05/15 --------------------------------------*/

.c-title {
    font-weight: bold;
    color: rgb(222, 222, 222);
}

.c-text {
    color: rgb(204, 204, 204);
    max-height: 265px;
    overflow: hidden;
}

.photo-alb-page {
    background-color: #17191a!important;
}

.photo-alb-page .nazvn,
.photo-alb-page .autor .pos,
.photo-alb-page .nazvn,
.photo-alb-page .comment .statusu .date {
    color: rgb(222, 222, 222);
}

.photo-alb-page .tab .chob a:last-child {
    text-decoration: none;
    color: #fff;
}

.photo-alb-page .tab > div:not(.chob) .txt {
    color: #fff;
}

.photo-alb-page .nt,
.photo-alb-page .s4n div a {
    color: rgb(204, 204, 204);
}

.photo-alb-page .tab > div:not(.chob) .tit a {
    color: rgb(204, 204, 204);
}

.photo-alb-page .autor .name,
.photo-alb-page .cifop {
    color: #fff;
}

.photo-alb-page .s4n div {
    width: 152px;
    margin-bottom: 15px;
}

.photo-alb-page .wRight {
    /*margin-top: 48px;*/
}

.photo-alb-page .controls .next {
    position: absolute;
    width: 50%;
    height: 100%;
    opacity: 0;
    webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;
}

.photo-alb-page .imgn .controls {
    position: relative;
}

.photo-alb-page .controls .arrow {
    background-color: black;
    width: 66px;
    height: 70px;
    position: absolute;
    top: 45%;
    margin-top: -35px;
    white-space: nowrap;
    overflow: hidden;
}

.photo-alb-page .soc-groups-new {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 276px;
    top: 4px;
    z-index: 20;
}

/*10.03.2016*/
.photo-alb-page .soc-groups-new {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 142px;
    top: 6px;
    z-index: 20;
}

.soc-gr-in {
    visibility: hidden;
    opacity: 0;
    width: auto;
    min-width: 100px;
    height: auto;
    position: absolute;
    left: -31px;
    top: 0;
    z-index: 120;
    -webkit-transition: visibility 300ms, opacity 300ms;
    -o-transition: visibility 300ms, opacity 300ms;
    transition: visibility 300ms, opacity 300ms;
}

.sgin-inner {
    background: #333;
    color: #dedede;
    border: 1px solid #4a4a4a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 30px;
}

.photo-alb-page .soc-groups-new:hover .soc-gr-in {
    visibility: visible;
    opacity: 1;
}

.photo-alb-page .soc-groups-new:hover {
    cursor: pointer;
}

.photo-alb-page .soc-groups-new:hover .fb-soc-icon {
    background-position: 0 -640px;
}

.photo-alb-page .soc-groups-new:hover .tw-soc-icon {
    background-position: 0 -572px;
}

.photo-alb-page .soc-groups-new:hover .plus-soc-icon {
    background-position: 0 -708px;
}

.soc-icon {
    display: inline-block;
    vertical-align: top;
    background: url('../pic/soc/big-sprite.png') no-repeat;
    margin-right: 10px;
}

.fb-soc-icon {
    width: 10px;
    height: 20px;
    background-position: 0 -659px;
}

.tw-soc-icon {
    width: 22px;
    height: 20px;
    background-position: 0 -621px;
}

.plus-soc-icon {
    width: 18px;
    height: 20px;
    background-position: 0 -727px;
}

.photo-alb-page .ymal {
    margin-top: 15px;
}

.ymal ul li {
    padding: 5px 0;
}

.ymal ul li a {
    color: rgb(222, 222, 222);
    text-decoration: none;
}

.ymal ul li a:hover {
    color: #fff;
}

.ymal ul li a {
    display: block;
    border-bottom: 1px solid #333;
    padding-bottom: 7px;
}

.ymal-title.c-title {
    font-size: 18px;
}
.cit-block {
	margin-top: 50px;	
}
.cit-block .c-title {
    font-size: 18px;
}

.ymal ul {
    font-size: 0;
    line-height: 0;
}

.ymal ul li {
    font-size: 14px;
    line-height: 1.5em;
}

.sl-thumb-cool {
    position: absolute;
    left: 707px;
    top: -67px;
    padding-top: 18px;
    background: #17191a;
    width: 262px;
    z-index: 30;
}

.stc-icon {
    display: inline-block;
    vertical-align: top;
    margin: 3px;
    /*display: none;*/
}

.st-control-b {
    display: block;
    text-decoration: none;
    height: 23px;
    width: 22px;
    background: url('../pic/soc/big-sp-2.png') 0 -290px no-repeat;
    position: absolute;
    z-index: 15;
    left: calc(100% - 30px);
    top: 4px;
    font-size: 0;
    line-height: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.st-control-b:hover {
    background-position: 0 -268px;
    cursor: default;
    text-decoration: none;
}

.stc-icon {
    position: relative;
}

.stc-icon:hover {
    cursor: pointer;
}

.stc-icon:hover:before {
    content: '';
    -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5) inset;
    content: "";
    position: absolute;
    top: 0;
    left: auto;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.dn-this {
    display: none!important;
}

.sl-thumb-cool a.thumb {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    width: 50px;
    height: 40px;
    position: relative;
}

.sl-thumb-cool a.thumb img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    text-align: center;
}

.photo-alb-page .wMiddle {
    overflow: visible;
    width: 69.8%;
}

.car-wrap-t {
    position: relative;
	max-height: 450px;
}
.carfr-sl {
	height: 100% !important;
}

.carfr-sl>.sl_item_bg {
    display: block;
    width: 650px;
    height: 100%;
    position: relative;
}


.photo-alb-page .thumb:hover {
    outline: 2px solid #ccc;
}

#prev-sl {
    display: block;
    position: absolute;
    /*left: 15px;*/
    
    top: 48%;
    width: 50px;
    height: 50px;
    background: url('../pic/soc/big-sp-2.png') 0 -51px no-repeat;
}

#prev-sl {
    left: -9999px;
    cursor: pointer;
}

#next-sl {
    right: -9999px;
    cursor: pointer;
}

.car-wrap-t:hover #prev-sl {
    left: 15px;
}

.car-wrap-t:hover #next-sl {
    right: 0;
}

#next-sl {
    display: block;
    position: absolute;
    /*right: 0;*/
    
    top: 48%;
    width: 50px;
    height: 50px;
    background: url('../pic/soc/big-sp-2.png') 0 0 no-repeat;
}

#next-sl:hover,
#prev-sl:hover {
    cursor: pointer;
}

.photo-alb-page h1.nazvn {
    max-width: 640px;
    min-height: 30px;
}

.photo-alb-page .sgin-inner a {
    width: 129px;
    height: 135px;
    display: block;
    background: url('../pic/sample-button.png');
    text-align: center;
}

.photo-alb-page .alb-count-new {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    right: 60px;
    top: 6px;
    z-index: 20;
}

.photo-alb-page .s4n a {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 10px;
    display:inline-block;
    vertical-align: top;
    text-decoration: none;
    color: rgb(204, 204, 204);
    font-size: 14px;
	word-wrap: break-word;
}

.photo-alb-page .s4n a:hover{
    text-decoration: underline;
}
.s4n .col:nth-child(4n+1) {
	clear: both;
}
.f_alb {
    color: #d42128;
    font-size: 26px;
}

.f_sep {
    color: #666666;
    font-size: 26px;
    margin: 0 5px;
}

.f_alb_total {
    color: #dedede;
    font-size: 26px;
}

.photo-alb-page .sgin-inner a:hover {
    text-decoration: none;
}

.sgin-inner:before,
.sgin-inner:after {
    top: 20px;
    left: 50%;
    border: 1px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.sgin-inner:after,
.sgin-inner:before {
    border-color: transparent;
    border-bottom-color: #333;
    border-width: 5px;
    margin-left: -5px;
}

.sgin-inner:before {
    border-color: transparent;
    border-bottom-color: #4a4a4a;
    border-width: 6px;
    margin-left: -6px;
}

.sendCom{
    color: #fff;
    font-size: 12px;
    padding: 10px 20px;
    line-height: 100%;
    background: #3A3A3A;
    border-radius: 2px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.bl.dopMT{
  margin: 0;
}

/*21.05.2016*/
.delimiter_left{
	display:inline-block;
	margin:0px 2px;
}

/* bMyGrid */
.grid {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; 
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 616px) {
    .grid.grid--size,
    .grid.grid--size-sm {
        width: 616px;
    }
}
@media (min-width: 956px) {
    .grid.grid--size,
    .grid.grid--size-md {
        width: 956px;
    }
}
.grid .grid__row {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; 
    margin-right: 0;
    margin-left: 0;
}
.grid .grid__row:before,
.grid .grid__row:after {
    content: ' ';
    display: table;
}
.grid .grid__row:after {
    clear: both;
}
.grid .grid__row .col {
    float: left;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; 
    width: 100%;
    min-height: 1px;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}
.grid .grid__row .col.col--xs-1 {
    width: 8.33333%;
}
.grid .grid__row .col.col--xs-2 {
    width: 16.66667%;
}
.grid .grid__row .col.col--xs-3 {
    width: 25%;
}
.grid .grid__row .col.col--xs-4 {
    width: 33.33333%;
}
.grid .grid__row .col.col--xs-5 {
    width: 41.66667%;
}
.grid .grid__row .col.col--xs-6 {
    width: 50%;
}
.grid .grid__row .col.col--xs-7 {
    width: 58.33333%;
}
.grid .grid__row .col.col--xs-8 {
    width: 66.66667%;
}
.grid .grid__row .col.col--xs-9 {
    width: 75%;
}
.grid .grid__row .col.col--xs-10 {
    width: 83.33333%;
}
.grid .grid__row .col.col--xs-11 {
    width: 91.66667%;
}
.grid .grid__row .col.col--xs-12 {
    width: 100%;
}
@media (min-width: 616px) {
    .grid .grid__row .col.col--sm-1 {
        width: 8.33333%;
    }
    .grid .grid__row .col.col--sm-2 {
        width: 16.66667%;
    }
    .grid .grid__row .col.col--sm-3 {
        width: 25%;
    }
    .grid .grid__row .col.col--sm-4 {
        width: 33.33333%;
    }
    .grid .grid__row .col.col--sm-5 {
        width: 41.66667%;
    }
    .grid .grid__row .col.col--sm-6 {
        width: 50%;
    }
    .grid .grid__row .col.col--sm-7 {
        width: 58.33333%;
    }
    .grid .grid__row .col.col--sm-8 {
        width: 66.66667%;
    }
    .grid .grid__row .col.col--sm-9 {
        width: 75%;
    }
    .grid .grid__row .col.col--sm-10 {
        width: 83.33333%;
    }
    .grid .grid__row .col.col--sm-11 {
        width: 91.66667%;
    }
    .grid .grid__row .col.col--sm-12 {
        width: 100%;
    }
}
@media (min-width: 956px) {
    .grid .grid__row .col.col--md-1 {
        width: 8.33333%;
    }
    .grid .grid__row .col.col--md-2 {
        width: 16.66667%;
    }
    .grid .grid__row .col.col--md-3 {
        width: 25%;
    }
    .grid .grid__row .col.col--md-4 {
        width: 33.33333%;
    }
    .grid .grid__row .col.col--md-5 {
        width: 41.66667%;
    }
    .grid .grid__row .col.col--md-6 {
        width: 50%;
    }
    .grid .grid__row .col.col--md-7 {
        width: 58.33333%;
    }
    .grid .grid__row .col.col--md-8 {
        width: 66.66667%;
    }
    .grid .grid__row .col.col--md-9 {
        width: 75%;
    }
    .grid .grid__row .col.col--md-10 {
        width: 83.33333%;
    }
    .grid .grid__row .col.col--md-11 {
        width: 91.66667%;
    }
    .grid .grid__row .col.col--md-12 {
        width: 100%;
    }
}

.grid .grid__row.grid__row--right .col {
    float: right;
}

.grid.grid--side-8 {
    padding-right: 8px; 
    padding-left: 8px;
}

.grid.grid--indent-8 .grid__row {
    margin-right: -8px; 
    margin-left: -8px;
}
.grid.grid--indent-8 .grid__row .col {
    margin-bottom: 16px; 
    padding-right: 8px;
    padding-left: 8px;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.position-static {
    position: static;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.vertical-top {
    vertical-align: top;
}

.vertical-bottom {
    vertical-align: bottom;
}

.vertical-middle {
    vertical-align: middle;
}

.vertical-baseline {
    vertical-align: baseline;
}

.display-block {
    display: block !important;
}

.display-inline {
    display: inline-block !important;
}

.display-none {
    display: none !important;
}

@media (max-width: 615px) {
    .display-block-xs {
        display: block !important;
    }
    .display-inline-xs {
        display: inline-block !important;
    }
    .display-none-xs {
        display: none !important;
    }
}

@media (min-width: 616px) and (max-width: 955px) {
    .display-block-sm {
        display: block !important;
    }
    .display-inline-sm {
        display: inline-block !important;
    }
    .display-none-sm {
        display: none !important;
    }
}

@media (min-width: 956px) {
    .display-block-md {
        display: block !important;
    }
    .display-inline-md {
        display: inline-block !important;
    }
    .display-none-md {
        display: none !important;
    }
}

.visible {
    visibility: visible !important;
}

.hidden {
    visibility: hidden !important;
}

.clear {
    clear: both;
}

@media (max-width: 615px) {
    .clear-xs {
        clear: both;
    }
}

@media (min-width: 616px) and (max-width: 955px) {
    .clear-sm {
        clear: both;
    }
}

@media (min-width: 956px) {
    .clear-md {
        clear: both;
    }
}
/* End bMyGrid */

/* Errors */

.errorPage { overflow-x: hidden; }

.errorWrapper { display: table; width: 100%; min-height: 100%; height: 100%; position: relative; overflow: hidden; background-color: #eee; background: radial-gradient(ellipse at center, #fff 0%, #fff 22%, #e1e1e1 60%); }

.no-moz .errorWrapper { height: auto !important; }

.errorHolder { display: table-cell; text-align: center; vertical-align: middle; }

.errorContent { display: block; max-width: 640px; margin: 0 auto; padding: 10px; text-align: center; }

.errorContent .wTxt { text-align: center; }
.errorContent .wTxt a {
	color: #b21f25;
}

.errorHeader { display: inline-block; vertical-align: top; font-weight: bold; font-size: 200px; line-height: 1em; }

.errorHeader:before { content: ''; position: absolute; z-index: -1; width: 130%; left: -15%; bottom: 0; height: 20%; -webkit-filter: blur(4px); filter: blur(4px); opacity: .5; background: radial-gradient(ellipse at center, #999 0%, rgba(153, 153, 153, 0) 60%); }

.errorHeader { color: #333; }

@media only screen and (max-width: 720px) { .errorHeader { font-size: 150px; } }

@media only screen and (max-width: 480px) { .errorHeader { font-size: 100px; } }

/* End Errors*/

/*----------------------------------------------*/

/* bMyStyles */
.lastNews hr, .people hr, .videoBlock hr {
	margin-top: 0;
}
.row_news .col:nth-child(4n+1) {
	clear: both;
}

/* Кнопка меню */
.menuBlock {
	width: 40px;
    height: 40px;
	margin-top: 4px;
	float: left;
	overflow: hidden;
}
.menuButton {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #a79898;
}
.menuButton::after,
.menuButton::before,
.menuButton ins {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 3px;
    margin: -1px 0 0 -8px;
	-webkit-transition: none 0.5s ease 0.5s;
	   -moz-transition: none 0.5s ease 0.5s;
        -ms-transition: none 0.5s ease 0.5s;
         -o-transition: none 0.5s ease 0.5s;
            transition: none 0.5s ease 0.5s;
	-webkit-transition-property: transform, top, bottom, left, opacity;
	   -moz-transition-property: transform, top, bottom, left, opacity;
        -ms-transition-property: transform, top, bottom, left, opacity;
         -o-transition-property: transform, top, bottom, left, opacity;
            transition-property: transform, top, bottom, left, opacity;
    text-decoration: none;
    border-radius: 2px;
    background-color: #fff;
}
.menuButton::after,
.menuButton::before {
    content: '';
}
.menuButton::before {
	-webkit-transform: translateY(-6px);
	   -moz-transform: translateY(-6px);
	    -ms-transform: translateY(-6px);
	     -o-transform: translateY(-6px);
            transform: translateY(-6px);
}
.menuButton::after {
    -webkit-transform: translateY(6px);
	   -moz-transform: translateY(6px);
	    -ms-transform: translateY(6px);
	     -o-transform: translateY(6px);
            transform: translateY(6px);
}
.mm-opening .menuButton::before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
	top: 20px;
}
.mm-opening .menuButton::after {
	-webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg); 
	top: 20px;
}
.mm-opening .menuButton ins {
	opacity: 0;
	left: -50px;
}
/* End Кнопка меню */

.mm-menu.mm-offcanvas {
	z-index: 10000;
}
.mm-listview>li:not(.mm-divider):after {
	border-color: #676767;
}
.mm-listview .mm-next:before {
	display: none;
}
.mm-navbar {
	border-color: #676767;
}
.mm-navbar-bottom {
	border-color: #676767;
}
#mmenu .soc {
	height: 46px;
	padding: 8px 0;
}
#mmenu .soc a {
    display: inline-block;
	height: 26px;
	margin: 0 10px;
}
#mmenu .soc a img {
	height: 26px;
}
#mmenu .search input[type=text] {
	background: inherit !important;
	border-bottom: none;
	padding-left: 0;
}
#mmenu .enterReg {
	background: inherit !important;
	line-height: inherit;
}
#mmenu li > a > img {
	width: 100%;
}
#mmenu > a > img {
	width: 100%;
}
#mmenu .mailto {
	padding: 0;
	color: #fff;
}
#mmenu .mailto:hover {
	text-decoration: underline;
}
.wSitemap ul li a {
	height: 30px;
	overflow: hidden;
}
.mm-listview .img {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 160px;
}
/* End bMyStyles */

.link-contacts {
  display: inline-block;
  vertical-align: middle;
  margin:  0 10px;
  width: 119px;
  height: 32px;
  background: #646565;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, .24);
}

.newsline__item {
  margin-bottom: 12px;
}

.newsline__item-date {
  font-family: Arial;
  font-size: 13px;
  line-height: 1.25em;
  color: #757574;
}

.newsline__item-link {
  font-family: 'Pragmatica';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25em;
  display: inline-block;
  max-height: 3.7em;
  overflow: hidden;
}

.newsline__item-link a {
  display: inline-block;
  color: #0c0c0c;
  text-decoration: none;
}

.newsline__item-link a:hover {
  color: #b21f25;
}


.newsline__title {
  font-family: 'Pragmatica';
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  color: #b21f25;
  margin-bottom: 5px;
  text-align: left;
}

.wRight .bl {
  margin-top: 10px;
  margin-bottom: 7px;
}

.newsline__item-link {
  font-family: Arial, sans-serif;
}

.facebook-block {
  position: fixed;
  right: -330px;
  top: 50%;
  margin-top: -170px;
  width: 330px;
  padding: 1.5rem;
  background-image: linear-gradient(to bottom,#6d6d6d 0%,#010101 100%);
  transition: right 0.3s ease-out;
}

.facebook-block.is-visible {
  right: 0;
}

.facebook-block__title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  line-height: 1.3em;
  margin-bottom: 1.2em;
}

.facebook-block__close {
  text-decoration: underline;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

.facebook-block__close:hover {
  color: #fff;
}