.widget .widgetHeader.myWidgetHeader .widgetTitle {
    height: 30px;
    padding: 0 12px;
    margin: 0;
}
.widget .widgetHeader.myWidgetHeader {
    background: none repeat scroll 0 0 #f9f9f9;
    border-bottom-color: #d9d9d9;
}
/*30.09.2013*/
#image-list div {
    word-break: break-all;
}
#image-container {
    margin-top: 30px;
    min-height: 200px;
    min-width: 200px;
    border: 2px solid #d9d9d9;
    background: #fff;
}
.highlighted {
    border: 4px solid steelblue !important;
}

#image-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#image-list li {
    margin: 10px;
    width: 152px;
    text-align: center;
    display: inline-block;
}

#image-list div.progress {
    width: 150px;
    border: 1px solid #888888;
    height: 18px;
    text-align: center;
    background-image: url('/backend/images/pbar_bgr.png');
    background-repeat: no-repeat;
    background-position: -150px center;
}

input[type='button'], button {
    padding: 3px 10px;
}


.diagramma {
    height:15px;
    padding:5px 0;
    text-align:center;
    color:#000000;
    font-weight:bold;
    border:1px solid #ffffff;
    font-size:8px;
}
.uploaded_images {
    margin-top: 30px;
}
.catalog-image {
    display: inline-block;
    position: relative;
/*        min-height: 200px; 
    min-width: 200px;*/
    margin: 10px;
    padding-bottom: 5px;
    text-align: center;
}
.catalog-image .preview-image {
    display: block;
    /*min-height: 180px;
    line-height: 180px;*/
}
.catalog-image .preview-image > a, 
.catalog-image .preview-image > a > img {
    display: inline-block;
    vertical-align: middle;
}
.catalog-image .default-image {
    text-align: center;    
    margin-top: 14px;    
}
.catalog-image .delete-catalog-image {
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    top: -15px;
    right: -14px;
    background: url(/backend/pic/remove-icon.png) no-repeat;
    z-index: 5;
    border-radius: 15px;
    cursor: pointer;
}
.catalog-image .delete-catalog-image:hover {
    box-shadow: 1px 1px 5px #FF0000;
}
.catalog-image:hover {
     box-shadow: 1px 1px 3px #6C6C6C;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #ccc!important;
}
.ui-datepicker-today {
    background-color: #aaa;
}
.ui-datepicker td.ui-datepicker-today .ui-state-highlight {
    background-color: #ccc;
}
.emailsOpen {
    color: blue;
    cursor: pointer;
    display: block;
}
.emailsOpen:hover {
    text-decoration: underline;
}
.emailsList {
    display: none;
}
.imageThumb {
    display: block;
}
#setItemsHere {
    margin: 0 auto;
}
.item {
    border: 1px solid #ccc;
    width: 178px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}
.item:hover, .item.cur {
    border: 1px solid red;
}
.item img {
    display: block;
    max-width: 200px;
    max-height: 150px;
}
.statbox .visual.black {
    background-color: #000000;
}
.statbox .visual.orange {
    background-color: #e69553;
}
.statbox .visual.purple {
    background-color: #cf74d6;
}
.statbox .visual.blue {
    background-color: #3e7aab;
}
.dropdownMenu.extended li .message {
    max-width: 200px;
}